@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root
{
  --font-family: 'Space Grotesk', sans-serif;
  --active-form: linear-gradient(90deg, rgba(100,72,254,1) 25%, rgba(96,5,148,1) 66%);
  --bad-form: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main
{
  height: 100vh;
}

.background--image
{
  z-index: -1;
  position: absolute;
  height: 100%;
}

@media only screen and (max-width: 999px)
{
  .background--image
  {
    width: 100%;
    max-height: 25vh;
  }
}

.foreground
{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.foreground--cards
{
  height: 40vh;
  width: 100%;
  display: grid;
  place-content: center;
}

@media only screen and (min-width: 999px)
{
  .foreground--cards
  {
    height: 100vh;
  }
}

.foreground--container
{
  width: 330px;
  max-width: 447px;
  min-height: 250px;
}

.card-back
{
  width: 280px;
  position: absolute;
  left: 70px;
  top: 40px;
}

.card-front
{
  width: 280px;
  position: absolute;
  right: 70px;
  top: 127px;
}