@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root
{
  --font-family: 'Space Grotesk', sans-serif;
  --active-form: linear-gradient(90deg, rgba(100,72,254,1) 25%, rgba(96,5,148,1) 66%);
  --bad-form: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main
{
  height: 100vh;
}

.background--image
{
  z-index: -1;
  position: absolute;
  height: 100%;
  min-height:  200px;
}

@media only screen and (max-width: 999px)
{
  .background--image
  {
    width: 100%;
    max-height: 25vh;
  }
}

@media only screen and (min-width: 1000px)
{
  .background--image
  {
    max-width: 40vw;
  }
}

.foreground
{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

@media only screen and (min-width: 1000px)
{
  .foreground
  {
    justify-content: space-evenly;
    align-items: center;
  }
}

.foreground--cards
{
  justify-self: center;
  width: 100%;
  height: 30vh;
  max-height: 500px;
  min-height: 280px;
  flex-basis: 500px;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (min-width: 999px)
{
  .foreground--cards
  {
    align-self: center;
    max-width: 500px;
    height: 400px;
  }
}

.foreground--container
{
  position: relative;
  width: 350px;
  min-height: 260px;
}

@media only screen and (min-width: 999px)
{
  .foreground--container
  {
    position: relative;
    width: 450px;
    min-height: 350px;
  }
}

.card-back
{
  display: grid;
  justify-content: right;
  align-items: center;
  padding: 30px;
  width: 300px;
  height: 166px;
  position: absolute;
  right: 0px;
  background-image: url('../images/bg-card-back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 13px;
}

.card-front
{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  height: 166px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  background-image: url('../images/bg-card-front.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  font-family: var(--font-family);
}

.card-front--img
{
  grid-column-start: 1;
  grid-column-end: 3;
}

.card-front--numbers
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: flex-end;
  letter-spacing: 3px;
  word-spacing: 8px;
}

.card-front--name
{
  align-self: flex-end;
  font-size: 13px;
}

.card-front--date
{
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  font-size: 13px;
  margin-right: 5px;
}

@media only screen and (min-width: 999px){
  .card-back
  {
    padding: 40px;
    width: 400px;
    height: 222px;
    position: absolute;
    right: 0px;
  }

  .card-front
  {
    width: 400px;
    height: 222px;
    position: absolute;
    bottom: 0px;
  }

  .card-front--numbers
  {
    font-size: 25px;
  }
}

.foreground--form
{
  flex-basis: 500px;
  min-height: 400px;
  padding: 12px;
  font-family: var(--font-family);
}

.foreground--form  form
{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.foreground--form  form input:focus
{
  outline-color: var(--very-dark-violet);
}

.basic-input
{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: space-evenly;
  position: relative;
}

.basic-input label
{
  color: var(--very-dark-violet);
  letter-spacing: 2px;
}

.basic-input input
{
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
  padding: 0px 10px;
  font-size: 18px;
  font-family: var(--font-family);
}

.basic-input input::placeholder{
  color: var(--light-grayish-violet);
}

.extra-inputs
{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  column-gap: 5px;
}

.extra-inputs .month-input
{
  justify-self: flex-start;
}

.extra-inputs .year-input
{
  justify-self: flex-start;
}

.extra-inputs .grow-input
{
  justify-self: flex-end;
  min-width: 90%;
}

.extra-inputs section
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 90px;
  justify-content: space-evenly;
  position: relative;
}

.extra-inputs section label
{
  font-size: 15px;
  letter-spacing: 2px;

}

.extra-inputs section input
{
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
  padding: 0px 10px;
  font-size: 18px;
  font-family: var(--font-family);
}

.extra-inputs section input::placeholder{
  color: var(--light-grayish-violet);
}

.foreground--form  form button
{
  height: 60px;
  border-radius: 8px;
  background-color: var(--very-dark-violet);
  border: none;
  color: var(--white);
  font-size: 18px;
  font-family: var(--font-family);
  align-self: center;
}

@media only screen and (min-width: 1000px) {
  .foreground--form
  {
    height: 500px;
  }
}

.attribution
{
  font-family: var(--font-family);
  text-align: center;
}

.error_msg
{
  color: var(--bad-form);
  font-size: 10px;
  font-family: var(--font-family);
  position: absolute;
  bottom: -8px;
  width: max-content;
}

.complete-form
{
  display: grid;
  grid-template-rows: 100px 80px 60px;
  gap: 20px;
  place-items: center;
  align-content: center;
}

.complete-form div
{
  text-align: center;
}

.complete-form div h2
{
  color: var(--very-dark-violet);
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.complete-form div p
{
  color: var(--dark-grayish-violet);
}

.complete-form button
{
  height: 60px;
  width: 80%;
  border-radius: 8px;
  background-color: var(--very-dark-violet);
  border: none;
  color: var(--white);
  font-size: 18px;
  font-family: var(--font-family);
  align-self: center;
}

.hide
{
  display: none;
}